* {
    /*margin: 0;
    padding: 0;*/
}

html {
    background-color: #e8e8e8;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h1,
h3,
.note {
    margin-left: 50px;
}

.note {
    color: #9e9e9e;
    font-size: 14px;
}

.myForm {
    width: 73%;
    margin: 0 auto;
    padding: 20px;
}

.myForm input {
    font-size: 18px;
}

.myForm input[type=submit] {
    background-color: #2196f3;
    color: #fff;
    border: 0;
    border-radius: 4px;
}

.template_img {
    display: block;
    margin: 40px auto;
    width: 100%;
}

.strong {
    font-weight: bold;
}

.results {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.entity {
    margin-top: 30px;
}

a {
    color: #038bd9;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #337ab7;
    text-decoration: underline;
}

.preview_img {
    display: inline-block;
    margin: 0 15px;
    width: 25%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.preview_img img {
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;
}

.text_container {
    display: inline-block;
    margin: 0 0 0 20px;
    width: 60%;
    vertical-align: top;
}

.about {
    font-size: 12px;
}

.text {
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.box {
    display: inline-block;
    margin: 5px;
    padding: 5px 9px;
    border-radius: 3px;
    border: 1px solid #cacaca;
    font-size: 12px;
}
